.bonus-screenshot {
	margin: 18px 0px;
}

.bonus-screenshot p {
	margin: 18px 0px 8px 0px;
}

.bonus-screenshot img {
	min-width: 100%;
	max-width: 100%;
}

.bonus-screenshot blockquote {
	font-size: 14px;
	color: rgb(87, 96, 106);
	padding: 2px 16px;
	margin-bottom: 18px;
	border-left: 4px solid #d0d7de;
}
